!!!5
%html{class:"no-js", lang:"es-MX"}
  %head
    %title La mejor comida en restaurant
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Mejor restaurante cerca de parque tezontle"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"/offline/stylesOffline.css"}
  %body
    %p#message Sin internet conectado. Se muestra la informacion condensada
    .container
      %h1.great-vibes Grupo TMM
      %p
        %strong Dirección
        Av. Rio Frío
      %p
        %strong Horario
        10am - 10pm
      #map
        %img{src:"/offline/multimedia/mapa.jpg"}
